@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ubuntu:'Ubuntu', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #292F36;
  color: var(--foreground);
  overflow-x: hidden;
}

.bg-text-u {
  font-size: 117px;
  line-height: 134px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}

.h1-u {
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}

.h2-u {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}

.button-u {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}

.article-u {
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
}

.para-u {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
}

.label-u-m {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}

.label-u-l {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
}

/* IBM Plex Mono font classes */
.number-m {
  font-size: 48px;
  line-height: 62px;
  font-weight: 500;
  font-family: 'IBM Plex Mono', monospace;
}

.h2-m {
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  font-family: 'IBM Plex Mono', monospace;
}

.logo-m {

  /* line-height: 42px; */
  font-weight: 500;
  font-family: 'IBM Plex Mono', monospace;
}

.menu-m {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
}

.media-m {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
}

.para-m {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
}

.code-m {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
}